@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  a {
    transition: color 0.2s;
  }
}

.p-component-overlay {
  &, .p-image-action {
    color-scheme: dark;
    color: var(--text-color);
  }
}
